[submodule "libraries/fast-web-rl"]
	path = libraries/fast-web-rl
	url = https://github.com/wcarvalho/fast-web-rl
[submodule "libraries/housemaze"]
	path = libraries/housemaze
	url = https://github.com/wcarvalho/jaxhousemaze
[submodule "libraries/nicewebrl"]
	path = libraries/nicewebrl
	url = https://github.com/wcarvalho/nicewebrl.git
